@import url("https://fonts.googleapis.com/css?family=Roboto");

.todo-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 244, 231);
    height: 20%;
}

.todo-input input {
    border: none;
    outline: none;
    background-color: transparent;
}

.todo-input input::placeholder {
    opacity: 0.3;
}

.todo-input button {
    border-radius: 10px;
    padding: 5px;
    background-color: transparent;
    transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
}

.todo-input button:hover {
    background-color: bisque;
    transition: all 500ms linear;
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
}
