.todo-list-container {
    background-color: rgb(255, 249, 240);
    height: 70%;
}

.todo-list {
    border-radius: 10px;
    background-color: rgb(255, 241, 203);
    height: 100%;
}

.todo-list div {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.todo-list p {
    font-size: 2vh;
}

.todo-list ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style-type: none;
}
